.App {
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  color: white;
  background-color: #26b879;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #fca62c;
}

.loadingSpinner {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardGrid {
  padding: 0 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cardText {
  max-width: 10rem;  
  display: flex;
  flex-direction: column; 
}

.zoomEffect:hover {
  /*transform: scale(1.75);*/
  cursor: zoom-in; 
}

#footer-style {
  color: #229e6b;
  margin-top: 3rem;
}

@media (max-width: 800px) {
  img {
    width: 80%;
  }

  .cardGrid {
    padding: 0;
  }
}