.App {
  text-align: center;
}

button {
  color: white;
  background-color: #26b879;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #fca62c;
}

.loadingSpinner {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardGrid {
  padding: 0 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
}

.cardText {
  max-width: 10rem;  
  display: flex;
  flex-direction: column; 
}

.zoomEffect:hover {
  /*transform: scale(1.75);*/
  cursor: zoom-in; 
}

@media (max-width: 800px) {
  img {
    width: 80%;
  }

  .cardGrid {
    padding: 0;
  }
}